body {
    font-family: "Arial", "Helvetica", sans-serif;
    font-size: 20px;
    background-image: url(../images/background.png);
}

#wrapper {
    margin: 0 auto;
    width: 1200px;
    height: auto;
    background-color: rgba(112, 114, 117, 0.4);
}

header > h1, header > h2 {
    text-align: center;
    letter-spacing: 0.1em;
    font-size: 2.0em;
    margin-top: 0;

}
button{
    font-size: 2.0em;
    margin-top: 50px;
    margin-left: 60px;
}